h1{
    font-family: 'Shizuru', cursive;
    text-align: center;
    font-size:50px;
    background-color: rgb(170, 200, 255);
}


.btn-group-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    display: block;
    border-radius: 4px;
    background-color: #8159f8;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
button span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
  }
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
button:hover span {
    padding-right: 25px;
  }
  
button:hover span:after {
    opacity: 1;
    right: 0;
  }